@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DotGothic16&family=Mulish:wght@400&display=swap');

* {
    margin: 8px;
    font-family: 'Mulish', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-welcome {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/FONDOMANGA.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.title {
    position: absolute;
    margin-top: 20px;
    font-family: 'Bungee', cursive;
    color: white;
    /* -webkit-text-stroke: 2px black;*/
    font-size: 47px;
    text-align: center;
    text-shadow: -3px 3px 0 #000,
        3px 3px 0 #000,
        3px -3px 0 #000,
        -2px -2px 0 #000;
}

.title2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 33px;
    font-size: 20px;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    text-shadow: -2px 2px 0 #000,
        3px 3px 0 #000,
        3px -3px 0 #000,
        -2px -2px 0 #000;
}


.subtitle {
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
    color: white;
    text-shadow: 50px black;
    font-size: 22px;
    text-align: center;
    text-shadow: -2px 2px 0 #000,
        2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}

.subtitle1 {
    position: absolute;
    margin-top: 180px;
    margin-left: 150px;
    color: white;
    text-shadow: 50px black;
    font-size: 22px;
    text-align: center;
    text-shadow: -2px 2px 0 #000,
        2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;

}

.inputOne {
    position: absolute;
    margin-top: 330px;
    margin-left: 60px;
    border-radius: 8px;
    border-bottom: 15px;
    border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);

}

.inputTwo {
    position: absolute;
    margin-top: 390px;
    margin-left: 60px;
    border-radius: 8px;
    border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
}

.inputThree {
    position: absolute;
    margin-top: 450px;
    margin-left: 60px;
    border-radius: 8px;
    border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
}

button {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 6px;
    margin-top: 520px;
    margin-left: 65px;
    border-radius: 8px;
    background-color: rgb(26, 26, 92);
    border: 2px solid rgb(144, 144, 171);
}

.google
{
position: absolute;
margin-top: 630px;
margin-left: -230px;
height: 50px;
border-radius: 10px;
}

/*MAIN VIEW*/

.textIntro {
    position: absolute;
    font-style: 700;
    margin-top: -400px;
    margin-left: 6px;
    border-radius: 8px;
    border-bottom: 15px;
    color: white;
    /* border-top-color: rgb(5, 5, 5);*/
    font-size: 22px;
    text-align: center;
    text-shadow: -2px 2px 0 #000,
    2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
}