@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Mulish:wght@300;400;700&family=Rampart+One&display=swap');

*{
    margin: 8px;
    font-family: 'Mulish', sans-serif;
}

html,
body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-welcome{
    position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
background-image: url('./img/fondoFINAL.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.title2{
    position: absolute;
    margin-top: 20px;
    margin-left: 33px;
    font-size: 20px;
    color: rgb(14, 14, 130);
    stroke:black;
    font-family:'DotGothic16', sans-serif;
    
}

.create {
position:absolute;
margin-top: 30px;

    font-family: 'Rampart One', cursive;
   font-size: 52px;
   text-align: center;
}

.subtitle{
    position: absolute;
    margin-top: 180px;
    margin-left: 75px;
    text-shadow: 50px black;

     font-size: 20px;
    text-align: center;
}



.inputOne{
    position: absolute;
    margin-top: 280px;
    margin-left: 60px;
    border-radius: 8px;
    border-bottom: 15px;
   border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    
}
.inputTwo{
    position: absolute;
    margin-top: 330px;
    margin-left: 60px;
    border-radius: 8px;
   border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
.inputThree{
    position: absolute;
    margin-top: 380px;
    margin-left: 60px;
    border-radius: 8px;
   border-top-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
button
{
    font-size: 20px;
    text-align: center;
 color:white;
 padding: 6px;
    margin-top: 480px;
    margin-left: 65px;
    border-radius: 8px;
    background-color: rgb(26, 26, 92); 
   border-top-color: rgb(144, 144, 171);
   
 
   
};